.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color_base;
    background-image: $image_fond;
    background-position: center;
    width: 100%;
    height: 20%;
    .image_logo{
        height: 80%;
        width: auto;
        margin-left: 30px;
    }
    h1{
        padding-left: 30px;
        font-size: $fontsize_principal;
        font-family: $fontfamily_principal;
    }
    nav{
        margin-left: 32%;
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 30px;
            gap: 30px;
            li {
                display: inline-block;
                position: relative;
                &:hover .sous_menu{
                    display: block;
                }
                a{
                    display: block;
                    padding: 5px;
                    text-decoration: none;
                    color: $color_base;
                    font-family: $fontfamily_nav;
                    font-size: $fontsize_nav;
                    &:hover {
                        color: $color_base_4;
                    }
                }
            }
        .sous_menu {
            display: none;
            position: absolute;
            background-image: $image_fond ;
            width: 200px;
            li {
                display: block;
                &:hover {
                    a {
                        color: $color_base_4;
                    }
                }
            }
        }
        }
    }
    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 30px;
        border: $color_base solid 2px;
        &:hover{
            border: $color_base_4 solid 2px;
        }
    }
}
