#main {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: $fontfamily_principal;
        color: $color_border;
        text-align: center;
        font-size: $fontsize_titre2;
        margin-top: 3%;
    }
}

.post_ticket{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
    height: auto;
    font-size: $fontsize_text;
    padding: 10px 20px 20px 20px;
    border: black solid 2px;
    .head_box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .critique_comment{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            font-size: $fontsize_critique;
            font-family: $fontfamily_text;
            font-weight: bold;
        }
        .stars{
            margin-left: 20px;
        }
    }
    img{
        width:20%;
        height: auto;
    }
}
