#main {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: $fontfamily_principal;
        color: $background_color;
        text-align: center;
        font-size: $fontsize_titre2;
        margin-top: 3%;
    }
}

.link_create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    gap: 20%;
    a {
        text-decoration: none;
        font-size: $fontsize_button;
        padding: 10px 20px 10px 20px;
        border: $background_color solid 2px;
        background-color: $background_color;
        color: $color_base;
        border-radius: 5px;
    }
}

.post_ticket{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    font-size: $fontsize_text;
    padding: 10px 20px 20px 20px;
    border: black solid 2px;
    .head_ticket{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    img{
        width:40%;
        height: auto;
    }
}

.post_critique{
    width: 80%;
}
