.search-user {
    align-self: center;
    width: 40%;
    height: auto;
    .search_button{
        margin-left: 42%;
    }
    .search_results{
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            button[type='submit']{
                color: black;
                padding: 2px 4px 2px 4px;
            }
        }
    }
}

.follow_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    margin-top: 10%;
    h2 {
        margin: 0;
    }
    .user_followlist{
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            button[type='submit']{
                color: black;
                padding: 2px 4px 2px 4px;
            }
        }
    }
    .followed_list{
       li{
        list-style: none;
        line-height: 220%;
       }
    }
}
