.search-user {
    align-self: center;
    width: 40%;
    height: auto;
    .search_button{
        margin-left: 42%;
        color: $color_base_2;
        border: $color_base_2 solid 1px;
        background-color: $color_base;
        padding: 2px 4px 2px 4px;
        &:hover{
            color: $color_base;
            background-color: $color_base_3;
            border: $color_base_3 solid 1px;
        }
    }
    .search_results{
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        button[type='submit']{
            color: $color_base_2;
            border: $color_base_2 solid 1px;
            background-color: $color_base;
            padding: 2px 4px 2px 4px;
            &:hover{
                color: $color_base;
                background-color: $color_base_3;
                border: $color_base_3 solid 1px;
            }
        }
    }
}

.follow_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    margin-top: 10%;
    h2 {
        margin: 0;
    }
    .user_followlist{
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            button[type='submit']{
                color: $color_base_2;
                background-color: $color_base;
                border: $color_base_2 solid 1px;
                padding: 2px 4px 2px 4px;
                &:hover{
                    color: $color_base;
                    background-color: $color_base_3;
                    border: $color_base_3 solid 1px;
                }
            }
        }
    }
    .followed_list{
       li{
        list-style: none;
        line-height: 220%;
       }
    }
}
