{% extends 'base.html' %}
{% block content %}
<div class="login_form">
    <div class="block_inscription">
        <h2>Inscrivez-vous</h2>
        <a class="button_signup" href="{% url 'signup' %}">S'inscrire</a>
    </div>
    <div class="block_login">
        <h2>Connectez-vous</h2>
        <p>{{ message }}</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="button_login">Se connecter</button>
        </form>
    </div> 
</div>
{% endblock content %}