{% extends 'base.html' %}
{% load reviews_app_extras %}
{% block content %}
    <div class="link_create">
        <a href="{% url 'ticket_create' %}">Demander une critique</a>
        <a href="{% url 'critique_create' %}">Créer une critique</a>
    </div>
    {% for instance in critiques_and_tickets %}
        {% if instance|model_type == 'Critique' %}
            <div class="post_critique">
                <h4>Ticket : {{ instance.title }}</h4>
                <img src="{{ instance.ticket.image.url }}">
                <p><strong>Écrit par {{ instance.contributors.all|join:", " }}</strong></p>
                <p>{{ instance.time_created }}</p>
            </div>


        {% elif instance|model_type == 'Ticket' %}
        <div class="post_ticket">
            <div class="head_ticket">
                {% if instance.uploader == user %}
                    <p>Vous avez demandé une critique</p>
                {% else %}
                    <p>{{ instance.uploader}} a demandé une critique</p>
                {% endif %}
                <p>{{ instance.time_created }}</p>
            </div>
            <p>{{ instance.title }}</p>
            <p>{{ instance.description }}</p>
            {% if instance.image %}
                <img src="{{ instance.image.url }}">
            {% endif %}
            {% if instance.uploader == user %}
                <p><a href="{% url 'critique_create' %}">Créer une critique</a></p>
            {% else %}
                <p><a href="{% url 'critique_create' %}">Créer une critique</a></p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}
 