{% extends 'base.html' %}
{% load reviews_app_extras %}
{% block content %}
    <div class="link_create">
        <a href="{% url 'ticket_create' %}">Demander une critique</a>
        <a href="{% url 'critique_create' %}">Créer une critique</a>
    </div>
    <h2>Fil d'actualité</h2>

    {% for instance in critiques_and_tickets %}
        {% if instance|model_type == 'Ticket' %}
            <div class="post_ticket">
                <p>{{ instance.uploader }} a demandé une critique</p>
                <p>{{ instance.time_created }}</p>
                <p>{{ instance.title }}</p>
                <p>{{ instance.description }}</p>
                {% if instance.image %}
                    <img src="{{ instance.image.url }}">
                {% endif %}
                <div class="button_post_action">
                    {% if instance.id not in user_has_created_critique %}
                        <a href="{% url 'create_critique_from_ticket' ticket_id=instance.id %}" class="button_create_critique">Créer une critique</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if instance|model_type == 'Critique' %}
            <div class="post_ticket">
                <div class="head_ticket">
                    <p>{{ instance.author }} a publié une critique</p>
                    <p>{{ instance.time_created }}</p>
                </div>
                <p>{{ instance.commentaire }}</p>

                <!-- Afficher les étoiles en fonction de la note -->
                <div class="stars">
                    {% for i in "12345" %}
                        <span class="star{% if i|add:'0' <= instance.note %} active{% endif %}">★</span>
                    {% endfor %}
                </div>

                <p>{{ instance.body }}</p>
                <div class="post_ticket">
                    <p>Ticket associé : {{ instance.ticket.uploader }}</p>
                    <p>{{ instance.ticket.title }}</p>
                    <p>{{ instance.ticket.description }}</p>
                        {% if instance.ticket.image %}
                            <img src="{{ instance.ticket.image.url }}">
                        {% endif %}
                        <div class="button_post_action">
                            {% if instance.ticket.id not in user_has_created_critique %}
                                <a href="{% url 'create_critique_from_ticket' ticket_id=instance.ticket.id %}" class="button_create_critique">Créer une critique</a>
                            {% endif %}
                        </div>
                    </p>
                </div>
            </div>
        {% endif %} 
    {% endfor %}
{% endblock content %}