// Variables pour les couleurs de l'application
$color_base : white;
$color_base_2 : black;
$color_base_3 : red;
$color_border : black;
$background_color : #C8841C;

// Varaibles pour les polices de l'application
$fontfamily_principal : 'Special Elite', cursive;
$fontfamily_nav : 'Courier Prime', monospace;
$fontfamily_text : 'Raleway', sans-serif;

// Variables pour les tailles de text
$fontsize_principal : 40px;
$fontsize_nav : 18px;
$fontsize_titre2 : 30px;
$fontsize_button : 20px;
$fontsize_text: 18px;