body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-image: url("images/watercolor-paper-texture.jpg");
  background-position: center;
  width: 100%;
  height: 20%;
}

.header h1 {
  padding-left: 100px;
  font-size: 40px;
  font-family: "Special Elite", cursive;
}

.header nav {
  margin-left: 32%;
}

.header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  gap: 30px;
}

.header nav ul li {
  display: inline-block;
  position: relative;
}

.header nav ul li:hover .sous_menu {
  display: block;
}

.header nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: 22px;
}

.header nav ul li a:hover {
  color: #8ED5BE;
}

.header nav ul .sous_menu {
  display: none;
  position: absolute;
  background-image: url("images/watercolor-paper-texture.jpg");
  width: 200px;
}

.header nav ul .sous_menu li {
  display: block;
}

.header nav ul .sous_menu li:hover a {
  color: #8ED5BE;
}

.header .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 30px;
  border: white solid 2px;
}

.header .avatar:hover {
  border: #8ED5BE solid 2px;
}

.link_create {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
  gap: 20%;
}

.link_create a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: #d36e70 solid 2px;
  background-color: #d36e70;
  color: white;
  border-radius: 5px;
}

.link_create a:hover {
  border: #d36e70 solid 2px;
  color: #d36e70;
  background-color: white;
}

.link_create a:active {
  color: white;
  background-color: #d36e70;
}

.button_post_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 5%;
}

.button_post_action a {
  text-decoration: none;
  border: #d36e70 solid 2px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #d36e70;
  color: white;
}

.button_post_action a:hover {
  color: #d36e70;
  background-color: white;
  border: #d36e70 solid 2px;
}

.button_post_action a:active {
  color: white;
  background-color: #d36e70;
}

.button_post_action .button_create_critique {
  background-color: #8ED5BE;
  border: #8ED5BE solid 2px;
}

.button_post_action .button_create_critique:hover {
  color: #8ED5BE;
  background-color: white;
  border: #8ED5BE solid 2px;
}

button[type='submit'] {
  color: white;
  background-color: #d36e70;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border: #d36e70;
  border-radius: 10px;
}

button[type='submit']:hover {
  color: #d36e70;
  border: #d36e70 solid 2px;
  background-color: white;
}

button[type='submit']:active {
  color: white;
  background-color: #d36e70;
  border: #d36e70 solid 2px;
}

input[type="file"] {
  width: 100%;
  height: 10%;
  font-size: 20px;
}

.button_comeback {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

.button_comeback:hover {
  color: #8ED5BE;
}

.button_action {
  text-decoration: none;
  border: #d36e70 solid 2px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #d36e70;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
}

#main h2 {
  font-family: "Special Elite", cursive;
  color: black;
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
}

.post_ticket {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: auto;
  font-size: 18px;
  padding: 10px 20px 20px 20px;
  border: black solid 2px;
}

.post_ticket .head_ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post_ticket img {
  width: 20%;
  height: auto;
}

/* forms.scss */
/* Appliquer les styles de base aux champs de saisie et aux zones de texte */
input[type="text"],
textarea {
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: black solid 2px;
  width: 100%;
  height: auto;
  /* Augmenter la taille du texte */
  font-size: 18px;
}

.password_form {
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-left: 30%;
  /* Styles pour les labels */
  /* Augmenter la taille du texte */
  font-size: 18px;
}

.password_form label {
  display: block;
  color: #C8841C;
  font-size: 30px;
  margin-bottom: 5px;
}

.password_form input[type="password"],
.password_form textarea {
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: black solid 2px;
  width: 40%;
  height: auto;
}

.password_form button {
  margin: 10%;
  width: 20%;
  height: 10%;
  font-size: 22px;
  border-radius: 5%;
  margin-top: auto;
  margin-bottom: 25px;
}

.confirmation_password_change {
  text-align: center;
  margin-top: 20%;
}

.confirmation_password_change a {
  text-decoration: none;
  color: #C8841C;
}

.confirmation_password_change a:hover {
  background-color: #C8841C;
  color: white;
}

.change_profile_photo {
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  gap: 10%;
  font-size: 18px;
}

.change_profile_photo .profile_photo {
  width: 30%;
  height: auto;
  border-radius: 10%;
  box-shadow: -25px -49px 0px -7px rgba(200, 132, 28, 0.73);
}

.change_profile_photo .profile_photo_form {
  flex-direction: column;
  align-self: center;
  line-height: 2em;
}

.change_profile_photo .profile_photo_form button {
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;
  width: 20%;
  height: 10%;
  font-size: 22px;
  border-radius: 5%;
}

.login_form {
  text-decoration: none;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.login_form button {
  width: 140px;
  font-size: 20px;
  margin-top: 8%;
  margin-left: 35%;
}

.login_form input[type="password"], .login_form textarea {
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: black solid 2px;
  width: 100%;
  height: auto;
  /* Augmenter la taille du texte */
  font-size: 18px;
}

.signup_form {
  text-decoration: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  width: 40%;
}

.signup_form label {
  color: #C8841C;
  font-size: 30px;
  display: block;
  margin-bottom: 5px;
}

.signup_form button, .signup_form input[type="submit"] {
  margin: auto;
  width: 140px;
  font-size: 20px;
  margin-top: 8%;
  margin-left: 35%;
}

.signup_form input[type="password"],
.signup_form input[type="email"],
.signup_form textarea {
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: black solid 2px;
  width: 100%;
  height: auto;
  /* Augmenter la taille du texte */
  font-size: 18px;
}

.signup_form .sinon_login {
  text-align: center;
}

.ticket-form, .critique_form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  /* Pour centrer le formulaire horizontalement */
  /* Styles pour les labels */
}

.ticket-form label, .critique_form label {
  color: #C8841C;
  font-size: 30px;
  display: block;
  margin-bottom: 5px;
}

.ticket-form button, .critique_form button {
  width: 20%;
  height: 10%;
  font-size: 22px;
  border-radius: 5%;
  margin-top: auto;
  align-self: flex-end;
  margin-bottom: 25px;
}

.form_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-user {
  align-self: center;
  width: 40%;
  height: auto;
}

.search-user .search_button {
  margin-left: 42%;
}

.search-user .search_results li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.search-user .search_results li button[type='submit'] {
  color: black;
  padding: 2px 4px 2px 4px;
}

.follow_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20%;
  margin-top: 10%;
}

.follow_list h2 {
  margin: 0;
}

.follow_list .user_followlist li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.follow_list .user_followlist li button[type='submit'] {
  color: black;
  padding: 2px 4px 2px 4px;
}

.follow_list .followed_list li {
  list-style: none;
  line-height: 220%;
}
