{% load static %}

<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Courier+Prime:wght@400;700&family=Raleway:wght@200&family=Special+Elite&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>LITRevu</h1>
            {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Flux</a></li>
                        <li><a href="{% url 'user_posts' %}">Post</a></li>
                        <li><a href="{% url 'follow_users' %}">Abonnements</a></li>
                        <li>
                            {% if user.profile_photo %}
                                <a><img class="avatar" src="{{ user.profile_photo.url }}"></a>
                            {% else %}
                                <a><img class="avatar" src="{% static 'images/default_profile.png'%}"></a>
                            {% endif %}
                            <ul class="sous_menu">
                                <li><a href="{% url 'upload_profile_photo' %}">Photo profil</a></li>
                                <li><a href="{% url 'password_change' %}">Mot de passe</a></li>
                                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                            </ul>
                        </li>
            {% endif %}
                    </ul>
                </nav>  
        </div>
        <div id="main">
            {% block content%}{% endblock content %}
        </div>
    </body>
</html>
